.btn-transparent {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 20px 45px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-green {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 20px 45px;
  background-color: #00897b;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
