.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
