.blog {
  background: #fff;
  padding: 70px 0 0 0;

  &__row-blog-info {
    max-width: 630px;
    margin: 0 auto 100px auto;
  }

  &__blog-list-title {
    font-size: 25px;
    line-height: 0.88;
    margin: 60px 0 20px 0;
  }

  &__blog-list-date-type-cnt {
    margin-bottom: 20px;
  }

  &__blog-list-date {
    font-size: 17px;
    font-weight: 600;
    margin-right: 25px;
    i {
      padding-right: 8px;
    }
  }

  &__blog-list-type {
    font-size: 17px;
    font-weight: 600;
    i {
      padding-right: 8px;
    }
  }

  &__blog-list-subtitle {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
  }

  &__row-btns {
    padding: 120px 0 120px 0;
    text-align: center;
  }

  &__btns {
    &:hover {
      color: #000;
    }
  }
}

@include media-breakpoint-down(lg) {
  .blog {
    &__blog-list-img {
      img {
        display: block;
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .blog {
    padding: 30px 0 0 0;

    &__row-blog-info {
      max-width: 100%;
      margin: 0 auto 20px auto;
    }

    &__blog-list-title {
      margin: 20px 0 20px 0;
    }

    &__blog-list-subtitle {
      margin-bottom: 20px;
    }

    &__blog-list-img {
      img {
        max-width: 571px;
        margin: 0 auto;
      }
    }

    &__row-btns {
      padding: 60px 0 60px 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .blog {
    &__row-btns {
      padding: 30px 0 30px 0;
    }
  }
}
