.center {
  background: url('../img/center/center-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 180px;
  height: 655px;

  &__body {
    max-width: 860px;
    margin: 0 auto;
  }

  &__title {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }

  &__subtitle {
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 2px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 98px;

    a {
      margin: 0 15px;
    }
  }

  &__go-down {
    display: block;
    text-align: center;

    a {
      font-size: 22px;
      margin-left: 5px;
      color: #fff;
    }
  }
}
