.contact-us {
  background: url('../img/contact-us/bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;

  &__row-contact-info {
    max-width: 630px;
    margin: 0 auto;
    padding: 100px 0;
  }

  &__row-contact-list {
    align-items: flex-end;
    text-align: center;
    padding-bottom: 82px;
  }

  &__contact-list-img {
    display: inline-block;
    width: 106px;
    height: 106px;
    background: #3949ab;
    border-radius: 50%;
    margin-bottom: 10px;

    img {
      padding-top: 22px;
    }
  }

  &__contact-list-img--mail {
    padding-top: 10px;
  }

  &__contact-list-title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

@include media-breakpoint-down(md) {
  .contact-us {
    &__row-contact-info {
      max-width: 100%;
      padding: 40px 0;
    }

    &__contact-list-title {
      font-size: 16px;
    }

    &__contact-list-cnt {
      margin-bottom: 30px;
    }

    &__row-contact-list {
      padding-bottom: 20px;
    }
  }
}
