.our-services {
  padding: 70px 0 40px 0;
  background: #f0f1f1;
  overflow: hidden;

  &__row-our-services-info {
    max-width: 630px;
    margin: 0 auto 100px auto;
  }

  &__card {
    background: #fff;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  }

  &__card-img {
    margin-bottom: 20px;
  }

  &__card-title {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    font-weight: 600;
  }

  &__card-subtitle {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 40px;
  }

  &__card-btn {
    color: #000;
    border: 3px solid #000;

    &:hover {
      background: #00897b;
      color: #fff;
      border: 3px solid #fff;
    }
  }
}

@include media-breakpoint-down(md) {
  .our-services {
    padding: 30px 0 0px 0;

    &__row-our-services-info {
      max-width: auto;
      margin: 0 auto 40px auto;
    }
  }
}
