.our-services {
  padding: 121px 0 122px 0;
  background: #e4fdf9;

  &__body {
  }

  &__row-our-services-info {
    max-width: 630px;
    margin: 0 auto 120px auto;
  }

  &__title {
  }

  &__subtitle {
  }

  &__row-services-list {
  }

  &__col-services-list {
  }

  &__card {
    background: #fff;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
  }

  &__card-img {
    margin-bottom: 20px;
  }

  &__card-title {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    font-weight: 600;
  }

  &__card-subtitle {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 40px;
  }

  &__card-btn {
    color: #000;
    border: 3px solid #000;

    &:hover {
      background: #00897b;
      color: #fff;
      border: 3px solid #fff;
    }
  }
}
