@import 'reset';

@import 'mixins';
@import 'fonts';

@import 'bootstrap/bootstrap-grid.scss';
@import 'font-awesome/font-awesome.scss';
@import '../css/aos';

@import '../css/owl-carousel/owl.carousel.min.css';
@import '../css/owl-carousel/owl.theme.default.min.css';
@import '../css/jquery.fancybox.min.css';

//

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@import 'header';

@import 'content';

@import 'footer';
